{% extends "infos/header.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
{% if title == "Homepage" %}
           <h2>
               <span style="color: #ffffff ">Home&nbsp&nbsp&nbsp</span><span style="color: #444444"><a href="http://localhost:8000/me">Me</a>&nbsp&nbsp&nbsp<a href="http://localhost:8000/contact">Contact</a></span>
           </h2>
        {% elif title == "O mnie" %}
           <h2>
               <span style="color: #444444"><a href="http://localhost:8000/">Home</a>&nbsp&nbsp&nbsp</span><span style="color: #ffffff ">Me&nbsp&nbsp&nbsp</span><span style="color: #444444"><a href="http://localhost:8000/contact">Contact</a></span>
           </h2>
        {% elif title == "Kontakt ze mną" %}
           <h2>
               <span style="color: #444444"><a href="http://localhost:8000/">Home</a>&nbsp&nbsp&nbsp<a href="http://localhost:8000/me">Me</a>&nbsp&nbsp&nbsp</span><span style="color: #ffffff">Contact</span>
           </h2>
        {% endif %}
{% endblock %}}


